<div id="<%= dom_id physician %>" class="my-2">
    <strong>Name:</strong>
    <%= physician.name %>


    <strong class="ms-5">Email:</strong>
    <%= physician.email %>


    <strong class="ms-5">Unique Id:</strong>
    <%= physician.unique_id %>

    <%= link_to "Show this physician", physician, class: "ms-5" %>
</div>
