<div class="m-5" >
  <p style="color: green"><%= notice %></p>

  <strong>Name:</strong>
  <%= @physician.name %><br>


  <strong>Email:</strong>
  <%= @physician.email %><br>


  <strong>Unique Id:</strong>
  <%= @physician.unique_id %><br>
  <hr>

  <strong>Your Appointments:</strong><br><br>
  <% @physician.appointments.each do |appointment| %>
    <strong>Appointment date:</strong>
    <%= appointment.appointment_date %><br>
    
    <strong>Patient:</strong>
    <%= Patient.find(appointment.patient_id).name %><br><br>
  <% end %>
  <hr>

  <strong>Your Patients:</strong><br><br>
  <% @physician.patients.each do |patient| %>
    <strong>Name:</strong>
    <%= patient.name %><br>
  <% end %>
  <hr>

  <div class="my-2">
    <%= link_to "Edit this physician", edit_physician_path(@physician) %> |
    <%= link_to "Back to physicians", physicians_path %>
    <hr>

    <%= button_to "Destroy this physician", @physician, method: :delete, class:"my-2" %>
  </div>
</div>